$baseColor: #ffffff;

$dark: #18191A;
$darkHover: #383838;
$darkHover: #383838;
$darkGrey: #141414;
$grey: #313235;
$lightGrey: #888888;
$white: #FFFFFF;
$green: #6EC702;
$whitesmoke: #f5f5f5;
$blue: #0C2CE5;
$superLight: #EFEFEF;
$red: #E61E0A;
$red_hover: #D51C09;
$logo_hover: #6FC10C;

// socials
$facebookColor: #0071ED;
$twitterColor: #00AAF5;
$telegramColor: #00AAF5;
$instagramColor: #FF0076;
$youtubeColor: #FF0000;
$vkontakteColor: #457CB9;
$whatsappColor: #35D94F;
$fbmessageColor: #0071ED;
$soundcloudColor: #F85D0F;
$periscopeColor: #40A4C4;
$mailtoColor: #086AFF;
$copylinkColor: #6FB719;