@import '../../../../../assets/scss/vars';

.All-exhibitions {
  margin: 40px 0;
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    .content-block {
      width: 32%;
    }
  }

  @media (max-width: $width-md-size) {
    .content {
      .content-block {
        width: 48%;
      }
    }

  }

  @media (max-width: $mobile-breakpoint-portrait) {
    .content {
      .content-block {
        width: 100%;
      }
    }
  }
}