@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import './assets/scss/vars';

* {
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}